<!-- categoryItems.ejs -->
<%- include('header') %>
<h1 class="text-lg"><%= category.name %> Items</h1>
<h1 class="font-semibold mb-3"><%= category.description %></h1>
<%- include('items') %>
<%- include('footer') %>